@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  width: 100vw;
  overflow-x: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(5, 0, 1);
  background: linear-gradient(
    180deg,
    rgba(5, 0, 1, 1) 75%,
    rgba(134, 0, 36, 1) 90%,
    rgba(255, 0, 56, 1) 100%
  );
}
.wrapper {
  display: flex;
}
.wrapper .static-txt {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: #fc6d6d;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #050001;
  border-left: 2px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;
}

h2 {
  color: #f0f0f0;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

.grid2ColumnsTops {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20%;
  width: 80vw;
}

.top10Tracks img {
  width: 50px;
  height: 50px;
}

.top10Tracks h2 {
  font-size: 1em;
}
/* 
.top10Tracks {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: grey;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 14px 14px 24px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 14px 14px 24px 0px rgba(0, 0, 0, 1);
  box-shadow: 14px 14px 24px 0px rgba(0, 0, 0, 1);
} */

.TopElements {
  margin: 20px auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.TopElements img {
  cursor: pointer;
}

.TopElements h3 {
  color: rgb(245, 245, 245);

  font-size: 1.5em;
  position: relative;
  top: 40px;
  left: -60px;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8.5px);
  padding: 12px;
  /* text-decoration: underline; */
}

.DivGridTop {
  background-color: #252424;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProfileSection {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  padding-top: 50px;
}

.ProfileSection h2 {
  font-size: 2em;
}

.NavButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: auto;
}

.NavButtons button {
  padding: 10px;
  border-radius: 20px;
  border: solid 1px red;
  background-color: transparent;
  color: #f0f0f0;
  cursor: pointer;
}

.optionFirst {
  color: grey;
}

.optionSecond {
  color: #f0f0f0;
}

.section {
  width: 100vw;
  height: 90vh;
}

.longerSection {
  height: 100vh;
  height: 110vh;
}

.blurTruck {
  width: 100%;
  height: 101%;
  background: rgba(0, 0, 0, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.blurTruck h2 {
  font-size: 3em;
  position: relative;
  padding-left: 40px;
  padding-top: 20px;
  top: 30px;
  left: 30px;
}
/* .blurTruck > div {
  width: 100%;
  height: 100%;
  display: flex;
} */

.informationContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  align-self: center;
  padding: 10em;
}

.TrackInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}

.lightText {
  color: #f0f0f0;
}

.TrackInfo h3 {
  color: #f0f0f0;
  font-size: 2em; /* Domyślny kolor tekstu */
}
.TrackInfo h4 {
  color: #f0f0f0;
  font-size: 1.2em; /* Domyślny kolor tekstu */
}

.TrackInfo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.TrackInfo.lightBackground h3 {
  color: #f0f0f0; /* Kolor tekstu dla jasnego tła */
}

.favSong {
  background-color: black;
}

.TopContainer {
  height: 100%;
}

.TopContainer h2 {
  font-size: 3em;
  padding-left: 40px;
  padding-top: 20px;
  position: relative;
  right: 30px;
  top: 30px;
}

.grid2ColumnsTops {
  display: none;
}

.TopContainer {
  /* Tworzymy flexbox kontener z osią kolumny */
  display: flex;
  flex-direction: column;
}

.top10Tracks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.top10Tracks img {
  width: 160px;
  height: 160px;
}

.TracksWrapper {
  display: flex;
}

.TrackColumn {
  flex: 1; /* Każda kolumna ma równe miejsce */
}

.TopContainer div h2 {
  font-size: 3em;
  padding-right: 60px;
}

.TopContainer > div {
  text-align: right;

  padding-top: 20px;
}

.shadow {
  -webkit-box-shadow: 7px 3px 19px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 7px 3px 19px 0px rgba(0, 0, 0, 1);
  box-shadow: 7px 3px 19px 0px rgba(0, 0, 0, 1);
}

.termsButtonContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;

  position: relative;
  left: 60px;
}

.termsButtonContainer button {
  padding: 10px;
  border-radius: 20px;
  border: solid 1px red;
  background-color: transparent;
  color: #f0f0f0;
  cursor: pointer;
}

.radarComponent {
  width: 700px;
  height: 700px;
}

.topGenreSection {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.topGenreSection ul {
  color: #f0f0f0;
  text-decoration: none;
  list-style: none;
  font-size: 2.5em;
  font-weight: 400;
}

.MoodContainer {
  height: 100%;
  text-align: right;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.MoodContainer h2 {
  font-size: 3em;
  padding-left: 40px;
  padding-top: 20px;
  position: relative;
  right: 30px;
  top: 30px;
  padding-right: 60px;
}

.MoodContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.textContainer {
  align-self: right;
  width: 500px;
  height: 300px;
  text-wrap: wrap;
  color: white;
  font-size: 1.5em;
}

.MoodContainer div h3 {
  position: relative;
  left: 32%;
  top: 15%;
}

.progresBars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.progresBars div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.moods {
  background: transparent;
  width: 50%;
  border-radius: 10px;
}

.moods::-webkit-progress-value {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.moods::-webkit-progress-bar {
  background-color: RGB(245 1 1);
  border-radius: 10px;
}
.progresBarElements {
  width: 100%;
}

.PlayerRSWP {
  background: rgba(0, 0, 0, 0.18) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8.5px);
  position: fixed;
  bottom: -100;
  left: 0;
}

.PlayerRSWP.open {
  background: rgba(0, 0, 0, 0.18) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8.5px);
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.PlayerRSWP * {
  text-decoration: none;
  color: white;
}

.PlayerRSWP p {
  color: #f0f0f0;
}

._ContentRSWP * {
  color: white !important;
}

.profilePhoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #f0f0f0;
  margin-right: 20px;
  overflow: hidden; /* This is important for hiding the parts of the image outside the circle */
}

.profilePhoto img {
  width: 100%; /* Make sure the image takes up 100% of the container */
  height: 100%; /* Make sure the image takes up 100% of the container */
  object-fit: cover; /* This ensures the image covers the entire container without stretching */
}

.myNewDiv button {
  position: fixed;

  bottom: 85px;
  right: 20px;
  cursor: pointer;
  z-index: 10000000 !important;
  pointer-events: all !important;
  background-color: transparent;
  border: none;
}

.button-link {
  display: inline-block;
  padding: 10px;

  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #252424;
  border: 1px solid #f50101;
  border-radius: 20px;
  cursor: pointer;
}

.allImgTrack {
  width: 120px;
  height: 120px;
}

.TopTrackLayout {
  width: 90vw;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  /* align-items: center; */
  justify-content: left;
  margin: 30px;
  align-items: center;
  gap: 20px;
}

.GeneratedRecommendations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.RecommendationElement {
  border: 1px solid #ccc;

  text-align: center;
  color: white;
}

.RecommendationElement img {
  max-width: 80%;
}

.recommendationContainer h2 {
  color: #f0f0f0;
}

.genre-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  grid-gap: 10px; /* Spacing between buttons */
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto; /* Center the grid */
}

.genre-button {
  width: 100%;
}

.genre-container button,
.mood-button {
  padding: 10px;
  border-radius: 20px;
  border: solid 1px red;
  background-color: transparent;
  color: #f0f0f0;
  cursor: pointer;
}

.genre-container button:disabled,
.mood-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.genre-container button:hover,
.tempo-container button:hover,
.mood-button:hover {
  background-color: #f50101;
}

.genre-container button:active,
.tempo-container button:active,
.mood-button:active {
  background-color: #f50101;
}

.tempo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  grid-gap: 10px; /* Spacing between buttons */
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto; /* Center the grid */
}

.tempo-container button,
.genre-button {
  padding: 10px;
  border-radius: 20px;
  border: solid 1px red;
  background-color: transparent;
  color: #f0f0f0;
  cursor: pointer;
  max-width: 250px;
}

.RecommenedTrackWrapper img {
  width: 100px;
  height: 100px;
  gap: 5px;
  margin: 0 !important;
  padding: 0 !important;
}

.RecommenedTrackWrapper .TopElements {
  padding: -50px !important;
  margin-right: -50px;
}

.DataForRecommendations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DataForRecommendations .top10Tracks {
  width: 60%;
}

.recomendations-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RecommendationElementGlassMorph {
  background: rgba(0, 0, 0, 0.2);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  width: 100%;
  height: 100%;
  padding: 5px;
}

.RecommendationElementGlassMorph :first-child {
  padding: 10px;
}

.RecommendationElementGlassMorph :first-child img {
  width: 60%;
}
